<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>重設密碼</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="css/theme.css"></link>
	<!-- CSS和JS的根目錄都在static -->
	<script type="text/javascript" src="js/myscripts.js"></script>
	<!-- CSS和JS的根目錄都在static -->
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	
	<script type="text/javascript">
		function checkpassword() {
	
			if ($("#password").val() != $("#password2").val()) {
				$("#text2").text("兩次密碼不一致!!");
				$("#submit").toggle();
			}
			else{
				$("#text2").text("沒問題!按下送出!");
				$("#submit").show();
			}
		}
	</script>
</head>

<body style="text-align: center">
	<h1>重設密碼</h1>
	<br>
	<br>
	<form th:action="@{/verify}" method="post">
		親愛的 <span th:text="${param.username}" /> 您好
		<br />
		<input type="hidden" name="username" id="username" th:value="${param.username}" >
		<br />
		<input type="hidden" name="email" id="email" th:value="${param.email}" >
		<br />
		請輸入密碼:
		<input type="password" name="password" id="password">
		<br />
		<br />
		再次輸入密碼:
		<input type="password" name="password2" id="password2" onblur="checkpassword();" />
		<div id="text2"></div>
		<br />
		<br />
		<input id="submit" type="submit" value="送出">
	</form>
</body>

</html>